*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w20{
    padding: 0 2%;
    width: 20.0%;
}

.w30{
    width: 30.0%;
}

.w33{
    width: 33.3%;
}

.w45{
    padding: 0 2%;
    width: 45%;
}

.w50{
    padding: 0 2%;
    width: 50%;
}

.w60{
    padding: 0 2%;
    width: 60%;
}

.w80{
    padding: 0 2%;
    width: 80%;

}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.img {
    width: 100%;
    max-width: 500px;
}

/* ******************** */

header {
    padding: 10px 0;
    background: #ffffff;
    height: 40px;
    color: rgb(0, 0, 0);
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

header .center .logo{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
	margin-top: -10px;
}

.logo a{
    text-decoration: none;
    color: white;
}

.mobile {
    display: none;
}

nav.desktop ul {
    list-style-type: none;
}

nav.desktop li {
    font-family: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}


nav.desktop a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

section.banner-container {
    width: 100%;
    height: 600px;
    position: relative;
    color: white;
    overflow: hidden;

}

.banner-single {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: 100% 100%; /* Ajuste aqui */
    background-position: center;
    padding: 0 2%;
    margin: 0 auto;
}

.banner-single img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rbda(0,0,0);
}

.descrica-autor{
    padding-top: 30px;
}

section.banner-container form{
    width: 98%;
    max-width: 600px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    -ms-tranform:translate(-50%, -50%);
    text-align: center;
}

section.banner-container form h2{
    text-align: center;
}

section.banner-container form input[type=submit] {
    width: 30%;
    height: 24px;
    margin-top: 10px;
    background: #00C59E;
    color: #333;
    border: 0px;
}

.box-especialidades h2{
    margin-top: 30px;
    color: red;
}

section.descrica-autor  {
    background-color: rgb(255, 255, 255);
}


.box-especialidade{
    padding: 25px 25px;
}

.title-center{
    text-align: center;
}



@media screen and (max-width: 768px) {

    img {
        float: none !important;
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }

    .w50{
        width: 100%;
        padding: 20px;
    }

    .right {
        text-align: center;
    }

    .right img {
        display: inline-block;
    }
  
}

@media screen and (max-width: 531px) {
    .center {
        max-width: 100%;
    }
}

@media screen and (min-width: 531px) and (max-width: 1245px) {
    .center {
        max-width: 1245px;
        margin: 0 auto;
    }
}

.imagem-centralizada {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 700px){
	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}
	.botao-menu-mobile{
		font-size: 24px;
		cursor: pointer;
		color: white;
	}
	nav.mobile ul{ 
		top:40px;
		z-index: 3;
		position: absolute;
		left: 0;
		width: 100%;
		display: none;
		text-align: center;
	}
	nav.mobile li{
		font-weight: 300;
		width: 100%;
		display: block;
		background: white;
		border-bottom:1px solid #ccc;
		font-size: 17px;
		padding:8px 0;
	}
	nav.mobile li a{
		display: block;
		color: #444;
		text-decoration: none;
	}
}

.description-text{
    font-weight: 300;
    font-size: 40px;
    color: rgb(124, 123, 123);
}

.icon{
    font-size: 60px;
    text-align: center;
    color: #e959c1;
    margin-bottom: 30px;
}

.especialidades{
	height: 380px;
	padding-top: 50px;
	background-color: #f6f6f6;
}


section.a404 a{
    text-decoration: none;
    color: #000000;
}

section.a404 h1, .error{
    color: rgb(181, 40, 96);
    text-align: center;
    padding: 0 2%;  
    margin: auto;
    font-weight: 400;
    padding-top: 100px;
    width: 50%;
}

section.a404 h1{
    font-size: 40px;
}

.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form{
    background-color: #ebebeb;
    text-align: center;
    height: 700px;
}

.form h1{
    padding-top: 40px;
    text-align: center;
    font-weight: 100;
}

.form p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form .text-form{
    padding-top: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    height: 30px;
    width: 25%;
    text-align: left;
    padding: 20px;
    font-weight: 100;
    border: none;
}



.form textarea{
    height: 100px;
    width: 380px;
    padding: 20px;
    border: none;
}


.form input[type=submit] {
    background-color: #dea0cc;
    height: 20px;
    width: 60px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
   
}


#map{
	width: 100%;
	height: 400px;
}

.bullets{
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.bullets span{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #444;
}

.bullets span.active-slider{
    background-color: white;
}

.extras{
    height: 400px;
}

.most-read {
    margin-top: 10px;
    background-color: #dea0cc;
    text-align: center;
}

.radius-box{
    height: 600px;
    width: 595px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 40px;
}

.radius-box2{
    height: 288px;
    width: 595px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 40px;
}

.radius-box .description-text{
    padding: 20px;
}

.radius-box2 p{
    color:#c7c7c7;
    padding: 20px;
}


.box-notice{
	height: 700px;
    margin: 5px;
    background-color: #ffffff;
    padding: 20px;
    
}

.img-notice{
    text-align: center;
    border-radius: 30px;

}

.box-most-read{
	height: 1050px;
    margin: 5px;
    background-color: #ffffff;
    padding: 20px;	
}


.img-most-read {
    float: left;
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}


.text-most-read {
    float: left;
    width: calc(100% - 130px); /* Ajuste a largura do texto, considerando o espaço da imagem e a margem */
    text-align: left;
}

.buttom-most-read{
    background-color: #e959c1;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    padding: 0 2%;
    margin: 0 auto;
}

.box-last-notice{
    background-color: white;
    height:  330px;
    width: 355px;
    margin: 10px;
    background-image: url('../images/paris.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço da div */
    background-position: center; /* Centraliza a imagem */
}

section.about{
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
}

section.about .box-about-title{
    color: #000000;
    height: 300px;
    background-color: rgb(255, 255, 255);
    font-size: 50px;
}

section.about .box-about-descritption{
    color: #000000;
    height: 300px;
    background-color: rgb(255, 255, 255);
}



.especialidades .especialidades-img{
    display: block;
    width: 1100px;
    height: 350px;
    position:relative;
    z-index: 1;
    background-size: cover; /* Ajusta a imagem para caber no contêiner */
    background-position: center;
    border-radius: 30px;
    padding: 0 2%;
    margin: 0 auto;
    text-align: center;
    border-radius: 60px;
}

.center-slider{
    max-width: 1300px;
    padding: 0 2%;
    margin: 0 auto;
}

.sliderR img {
    width: 400px;
    height: auto; 
}

.sliderR {
    width: 100%;
    margin: 0 20px
}

.servicos-container{
    height: 300px;
  
    background-color: #ff00b7;
}

.depoimentos-container{
	margin-top: 80px;
    height: 350px; 
}

footer{
	margin-top: 100px;
	background-color: black;
	height: 100px;
	color: white;
}

.panel-li{
    background-color: #bebebe;
    height: 700px;
    margin-bottom: 700px;
}

.panel-control{
    background-color: #66c441;
    height: 700px;
    margin-bottom: 700px;

}

.container-single h1 {
    color: #000000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.container-single a{
    text-decoration:underline;
    text-decoration: none;
    text-align: right;
    color: #000000;
    font-size: 18px;
    font-weight: 100;
}

.container-notices h1 .left{
    color: #00C59E;
}