<!-- criar-post.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Criar Novo Post</title>
</head>
<body>

    <h1>Criar Novo Post</h1>

    <div class="container-post"> 
        <form action="/criar-post" method="POST">
            <label for="titulo">Título do Post:</label>
            <input type="text" id="titulo" name="titulo" required>
            <br> <br>
            <label for="Categoria">Categoria:</label>
            <input type="text" id="Categoria" name="Categoria" required>
            <br> <br>
            <label for="Conteudo">Conteudo:</label>
            <input type="text" id="Conteudo" name="Conteudo" required>
            <br> <br>
            <label for="Slug">Slug:</label>
            <input type="text" id="Slug" name="Slug" required>
            <br> <br>
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>
