<h1>Registro de usuario</h1>

<form action="/register" method="post">
    <br>
   <input type="text" name="username" placeholder="username">
   <input type="password" name="password" placeholder="password">
    <button>Enviar</button>
</form>