<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ola mundo</h1>

    <h2>Digite uma palavra para verificar se é palíndromo (Método GET):</h2>
    <form action="/verificar_palindromo" method="get">
        <input type="text" name="palavra" id="">
        <button type="submit">Enviar</button>
    </form>

    <h2>Digite uma palavra para verificar se é palíndromo (Método POST):</h2>
    <form action="/verificar_palindromo" method="post">
        <input type="text" name="palavra" id="">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>