<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>CLIMA COM API</title>
</head>
<body>
    <h1>PESQUISA DE CLIMA</h1>

    <form action="/busca" method="get">

        <label for="cidade" name="cidade">Informe a cidade</label>
        <input type="text" name="cidade">

        <label for="uf" name="uf">Informe a UF</label>
        <input type="text" name="uf">

        <button type="submit">Buscar</button>

    </form>
</body>
</html>