<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindromo</title>
</head>
<body>
    <h2>O inverso de <%= palavraOriginal %> é <%= palavraInvertida %>.</h2>
    <% if (palindromo) { %>
        <h3>A palavra <%= palavraOriginal %> é um palindromo!</h3>
    <% } %>
</body>
</html>