<%- include('partials/header.ejs') %>

<section class="outras-noticias">
    <div class="title-outras-noticia">
        <h2>Últimas Notícias</h2>
        <br><br>
        <div class="center">
            <div class="ultimas">
                <div class="box-ultima-single">
                    <img src="/public/images/teste1.jpg" />
                    <div class="conteudo-noticia-single">
                    <h3>Brasileirao</h3>
                    <h2>Proxima rodada</h2>
                    <p>Brasileirão tem disputado eletrizante pelo titulo</p>
                    <a href="/encarar-o-surf">Saiba mais</a>
                </div>
                </div>
                <div class="box-ultima-single">
                    <img src="/public/images/teste2.jpg" />
                    <div class="conteudo-noticia-single">
                        <h3>Brasileirao</h3>
                        <h2>Proxima rodada</h2>
                        <p>Brasileirão tem disputado eletrizante pelo titulo</p>
                    <a href="/encarar-o-surf">Saiba mais</a>
                </div>
                </div>
            </div>
            <div class="mais-lidas">
                <h3>Mais Lidas</h3>
                <div class="mais-lidas-noticias">
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/imagem1.jpg" />
                        <div class="texto-mais-lida-single">
                            <h3>Brasileirao</h3>
                            
                            <p>Brasileirão tem disputado eletrizante pelo titulo</p>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/imagem1.jpg" />
                        <div class="texto-mais-lida-single">
                            <h3>Brasileirao</h3>
                            <h2>Proxima rodada</h2>
                            <p>Brasileirão tem disputado eletrizante pelo titulo</p>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/imagem1.jpg" />
                        <div class="texto-mais-lida-single">
                            <h3>Brasileirao</h3>
                            <h2>Proxima rodada</h2>
                            <p>Brasileirão tem disputado eletrizante pelo titulo</p>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/imagem1.jpg" />
                        <div class="texto-mais-lida-single">
                            <h3>Brasileirao</h3>
                            <h2>Proxima rodada</h2>
                            <p>Brasileirão tem disputado eletrizante pelo titulo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>