<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alterar um Curso</title>
</head>
<body>
    <h2>Alterar um curso:</h2>
    <form action="/cursos/<%=curso.sigla%>?_method=PATCH" method="post">
        <label for="sigla">Sigla:</label>
        <input type="text" name="sigla" id="sigla" value="<%=curso.sigla%>" readonly>
        <br/><br/>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" size="50" value="<%=curso.nome%>">
        <br/><br/>
        <button>Alterar</button>
    </form>
    <br/>
    <a href="/cursos"><button>Voltar</button></a>
</body>
</html>